{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">
            Chat Room
        </div>
        <div class="chat_messages" id="chat-messages" >
            {% for message in messages %}
                {% include "chat_rt/chat_message.html" %}  
                {% empty %}
                    <div>No messages yet.</div>
            {% endfor %}
        </div>
        <form class="chat-input-area" id="chat-form" autocomplete="off"
              method="POST">
            {% csrf_token %}
            {{ form.body }}
            <button type="submit">Send</button>
        </form>
    </div>
    <script src="{% static 'js/chat2.js' %}"></script>
</body>
</html>