{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="{% static '/css/login.css' %}" />
  <title>Login Page</title>
</head>
<body>
  <div class="app-brand">fitness-tracker</div>

  <div class="container">
    <div class="left-half">
      <div class="login-container">
        
        <form action="" class="login-form" method="POST">
          {% csrf_token %}
          <h1 class="login-heading">Login to Your Account</h1>

          <div class="form-row">
            <input type="text" id="username" name="username" placeholder="Username" required />
          </div>

          <div class="form-row">
            <input type="password" id="password" name="password" placeholder="Password" required />
          </div>

          {% for message in messages %}
            <p class="messages">{{message}}</p>
          {% endfor %}

          <button type="submit">Login</button>
        </form>
        <p>OR</p>
        <a href="{% provider_login_url 'google' process='login' %}" class="google-btn">
          <svg class="google-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path fill="#FFC107" d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24s8.955,20,20,20s20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"></path><path fill="#FF3D00" d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"></path><path fill="#4CAF50" d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.222,0-9.657-3.356-11.303-7.918l-6.573,4.817C9.656,39.663,16.318,44,24,44z"></path><path fill="#1976D2" d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.574l6.19,5.238C39.99,36.586,44,31.016,44,24C44,22.659,43.862,21.35,43.611,20.083z"></path></svg>

          Sign in with Google
        </a>
      </div>
    </div>

    <div class="right-half">
      <h2 class="registration-heading">New Here?</h2>
      <h4>
        Take charge of your health today! Sign up now and start tracking your
        workouts, goals, and progress—all in one place. Your fitness journey
        starts here!
      </h4>
      <a href="{% url 'register' %}" class="registration-redirect">Sign Up</a>
    </div>
  </div>
  <script src="{% static 'js/login.js' %}"></script>
</body>
</html>
