{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/user.css' %}" />
    <title>User Page</title>
</head>
<body>
    <div class="container">
        <div class="left-half">
            <h1>User Page</h1>
            <a href="{% url 'logout' %}">Log Out</a>
        </div>
        <div class="right-half">
            <div class="profile-container">
                <div class="left-view">
                    <div class="image-creation">

                    </div>
                    <div class="password-reset">

                    </div>
                </div>
                <div class="right-view">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <h2>Profile Information</h2> 
                        <div class="form-container">
                            <div class="left-form"> 
                                <div class="form-row">
                                    {{ form.username }}
                                    {% if form.username.errors %}
                                        <div class="form-error">
                                            {{ form.username.errors.0 }}
                                         </div>
                                    {% endif %}
                                </div>                     
                                <div class="form-row">
                                    {{ form.role }}
                                    {% if form.role.errors %}
                                        <div class="form-error">
                                            {{ form.role.errors.0 }}
                                         </div>
                                    {% endif %}
                                </div>    
                                <div class="form-row">
                                    {{ form.age }}
                                    {% if form.age.errors %}
                                        <div class="form-error">
                                            {{ form.age.errors.0 }}
                                         </div>
                                    {% endif %}
                                </div>    
                                
                            </div>

                            <div class="right-form">
                                <div class="form-row">
                                    {{ form.first_name }}
                                    {% if form.first_name.errors %}
                                        <div class="form-error">
                                            {{ form.first_name.errors.0 }}
                                         </div>
                                    {% endif %}
                                </div>    
                                <div class="form-row">
                                    <div class="form-row">
                                        {{ form.last_name }}
                                        {% if form.last_name.errors %}
                                            <div class="form-error">
                                                {{ form.last_name.errors.0 }}
                                            </div>
                                        {% endif %}
                                    </div>    
                                </div>
                                <div class="form-row">
                                    <div class="form-row">
                                        {{ form.gender }}
                                        {% if form.gender.errors %}
                                            <div class="form-error">
                                                {{ form.gender.errors.0 }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                        <h2>Contact Information</h2> 
                        <div class="form-container">
                            <div class="left-form"> 
                                <div class="form-row">
                                    {{ form.phone_number }}
                                    {% if form.phone_number.errors %}
                                        <div class="form-error">
                                            {{ form.phone_number.errors.0 }}
                                        </div>
                                    {% endif %}
                                </div>                     
                                <div class="form-row">
                                    {{ form.email }}
                                    {% if form.email.errors %}
                                        <div class="form-error">
                                            {{ form.email.errors.0 }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="right-form">
                                <div class="form-row">
                                    {{ form.whatsapp_number }}
                                    {% if form.whatsapp_number.errors %}
                                        <div class="form-error">
                                            {{ form.whatsapp_number.errors.0 }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="form-row">
                                    {{ form.address }}
                                    {% if form.address.errors %}
                                        <div class="form-error">
                                            {{ form.address.errors.0 }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            
                        </div>

                        <div class="form-row">
                            <button type="submit" id="Update">Update</button>
                        </div>

                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/user.js' %}"></script>
</body>
</html>