{% extends "accounts/base_trainer.html" %}

{% load static %}

{% block title %}Users View{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/view_user.css' %}">
{% endblock %}

{% block content %}


    <div class="user-list-container">
    {% for user in users %}
        <div class="user-info">
            <div class="user-profilepic">
                {% if user.profile_pic %}
                    <img src="{{ user.profile_pic.url }}" alt="Profile Picture">
                {% else %}
                    <img src="{% static 'images/default.png' %}" alt="Profile Picture">
                {% endif %}
            </div>
            <div class="user-profilename">{{ user.username }}</div>
            <div class="age">Age: {{ user.age }}</div>
            <div class="gender">Gender: {{ user.gender }}</div>
            <div class="dashboard-btn">
                <a href="{% url 'trainer_view_user_dashboard' user.username %}" class="btn dashboard-link">Dashboard</a>
            </div>
        </div>
    {% endfor %}


{% endblock %}
</body>
</html>